.wrapper {
  overflow: hidden;
  max-width: 75rem;
  margin: 0;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

@media (min-width: 48em) {
  .wrapper {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.125rem;
    padding-right: 1.125rem;
  }
}

.wrapper--centered {
  text-align: center;
}

/* remove padding from wrappers inside wrappers */
.wrapper .wrapper {
  padding-left: 0;
  padding-right: 0;
}
