* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  /*color: rgba(0, 20, 30, .8);*/
  color: rgb(255, 255, 255);
  /* background-color: rgba(235, 235, 235, .8); */
}

a {
  /*color: rgba(0, 0, 0, 1.0);*/
  color: rgb(255, 255, 255);
}

img {
  max-width: 100%;
  height: auto;
}
