.background-image {
  /* The image used */
  background-image: url('../../images/kathryn-cave-634473-unsplash-scaled-40p-darkened-60p.jpg');

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
