.business-hours {
}

.business-hours__table {
  margin: auto;
}

.business-hours__table-row {
  padding-bottom: 1.4rem;
}

.business-hours__table-data-day {
  text-align: left;
  padding: 0.4rem;
  padding-right: 1rem;
}

.business-hours__table-data-time {
  text-align: right;
}

.business-hours__table-data-rest-day {
  padding-top: 0.5rem;
}
