.content {
}

.content__heading {
  font-family: 'Open Sans', serif;
  font-size: 2rem;
  color: rgb(160, 90, 90);
}

@media (min-width: 48em) {
  .content__heading {
    font-size: 2.5rem;
  }
}

.content__sub-heading {
  font-family: 'Open Sans', serif;
  font-size: 1.5rem;
}

@media (min-width: 48em) {
  .content__sub-heading {
    font-size: 2rem;
  }
}

.content__business-hours {
}

.content__paragraph {
}

.content__link {
}

.content__link-menu {
  font-size: 2rem;
  font-weight: bold;
  /*color: rgb(205, 84, 84);*/
  /*color: rgb(255, 255, 255);*/
  color: rgb(160, 90, 90);
  /*background-color: rgba(255, 255, 255, .3);*/

}

.content__image {
  width: 100%;
}
